
html,body{
	height: 100%;
	width:  100%;
	color: #222;
}

.navbar{
	background-color: #EECD58;
	padding: .8rem;
}

.navbar-nav li{
	float: right;
	padding-right: 20px;
}

.navbar-link{
	font-size: 1.1em !important;
}

.nav-item{
	text-decoration: none;
	color: #000000;
	font-family: Lato;
	font-weight: bold;
	text-align: left;
	position: relative;

}

.padding {
	padding-bottom: 2rem;
}

.container-fluid.padding{
	background-color: #FBFCB0;
	background-size: auto;
	background-position: center;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.padding.x{
  background: linear-gradient(
    to right, 
    #FBFCB0 0%, 
    #FBFCB0 50%, 
    #FFFFFF 50%, 
    #FFFFFF 100%
  );
}

.formss{
	padding-top: 40px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}













