
html,body{
	height: 100%;
	width:  100%;
	color: #222;
}

.navbar{
	background-color: #EECD58;
	padding: .8rem;
}

.navbar-nav li{
	float: right;
	padding-right: 20px;
}

.navbar-link{
	font-size: 1.1em !important;
}

.nav-item{
	text-decoration: none;
	color: #000000;
	font-family: Lato;
	font-weight: bold;
	text-align: left;
	position: relative;

}

.padding {
	padding-bottom: 2rem;
}

.base{
	background-color: #FBFCB0;
	background-size: auto;
	background-position: center;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.padding.x{
  background: linear-gradient(
    to right, 
    #FBFCB0 0%, 
    #FBFCB0 50%, 
    #FFFFFF 50%, 
    #FFFFFF 100%
  );
}

.formss{
	padding-top: 40px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.footer{
	background-color: #EECD58;
	padding: .4rem;
}
.wrapper{
  width:70%;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}

.panel-heading {
  padding: 0;
  border:0;
}
.panel-title>a, .panel-title>a:active{
  background-color: #FBFCB0;
  display:block;
  padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1px;
  word-spacing:3px;
  text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}











