<div class="footer">

	<div class="container-fluid" style="text-align: right;">
<!-- 	  <button style="text-align: right;">Change</button> -->
	  <button class="buttonblue"></button>
	  <button class="buttonbase"></button>
	</div>

	<p id='footer' style="color: black;text-align: center;">Made by &copy; Hana Raissya</p>

</div>