{% load static%}
{% block content%}

<ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../story9" id="story9">STORY 9</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../experience" id="acc">EXPERIENCE</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="https://forlap.ristekdikti.go.id/mahasiswa/detail/MDA2MzVEMjItODNCMC00MDZCLTg1RTUtOUQzOTFBQUJFMjcy/0">RESUME</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../discoverme">DISCOVER ME</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../guest" id="guest">FORM</a>
          </li>
		
          <li class="nav-item">
            <a class="nav-link" href="../add_schedule">SCHEDULE</a>
          </li>
		  

</ul>
{% endblock %}
