{% extends "layout/base.html" %}


{% block content %}

  <div id="half">
      <div class="col-12"><br><br>
        <h1 style="text-align: center; font-family: Grand Hotel;">Get in touch!</h1>
      </div>
      <div class="col-12">
        <br><br>
         <img class="rounded mx-auto d-block" src= "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42570341_1120023031507964_4649997367225876480_n.jpg?_nc_cat=104&oh=50f9d5e3bd2de3d884187712826fa892&oe=5C579860"> 
      </div>

      <div class="col-12" style="text-align: center;">
            <br><br><br>
            <a  href="https://www.instagram.com/" target="_blank" ><img src='https://marvel-live.freetls.fastly.net/canvas/2018/9/c2c0a12b8a744e78a9016d54467f505c?quality=95&fake=.png' width="80" height="80" /></a>
            <a  href="https://twitter.com/" target="_blank" ><img src='https://marvel-live.freetls.fastly.net/canvas/2018/9/55294680437145beb02ddc6855a26bb4?quality=95&fake=.png' width="80" height="80" /></a>
            <a  href="https://www.facebook.com/" target="_blank" ><img src='https://marvel-live.freetls.fastly.net/canvas/2018/9/2fc99348b667439fb2f1222be2422a1b?quality=95&fake=.png' width="80" height="80"/></a>
            <a  href="https://line.me/id/" target="_blank" ><img src='https://marvel-live.freetls.fastly.net/canvas/2018/9/6faf450bb380471787fa57865d8367ce?quality=95&fake=.png' width="80" height="80"/></a>
      </div>
      <br><br>
  </div> 
       
{% endblock %}
