{% load static%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/v4-shims.js"></script>
  <script src="{% static 'js/styles.js' %}"></script>
  <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
  <link href='https://fonts.googleapis.com/css?family=Grand Hotel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>

<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>

  <div style="display:none;" id="myDiv">
    <nav class="navbar navbar-expand-md navbar-light ">
    <!-- Brand/logo -->
      <div class="container-fluid">
        
        <a class="navbar-brand" href="index.html">
          <img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/a7be0c72888c434eb2669b938f024e94?quality=95&fake=.png" alt="logo" style="width:70px;">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% include "partials/navbar.html"%}
        </div>
        
      </div>
    </nav>

    <br>

      <div class="container-fluid">
        <h1 style="font-family: Grand Hotel; text-align: left;">Back in Time . . . </h1>
        <div class="col-12">
          <button class="accordion">Schedule</button>
            <div class="panel">
              <br>
              <!-- {% include "table_schedule.html"%} -->
              <a href="{% url 'schedule_result' %}" class="btn btn-info" role="button" style="text-align: left">>Click Me!<</a>
            </div>
            <br>
            <button class="accordion">Experience</button>
            <div class="panel">
              <br>
              <div class="col-12" style="text-align: center;">
                <img class="img-fluid" src= "https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42590546_1120022998174634_4235300953193971712_n.jpg?_nc_cat=101&oh=daf4e06557c6a41dcca5f7f0b1e5db47&oe=5C6334C1">
            </div>
            </div>
            <br>
            <button class="accordion">Achievements</button>
            <div class="panel">
              <br>
              <div class="col-12">
                <p style="text-align: left">Coming soon..</p>
            </div>
            </div>
          <br>
        </div>
      </div>

    <div class="footer">

      <div class="container-fluid" style="text-align: right;">
        <button class="buttonblue"></button>
        <button class="buttonbase"></button>
      </div>
      <p id='footer' style="color: black;text-align: center;">Made by &copy; Hana Raissya</p>

    </div>

  </div>
</body>

</html>