{% extends "layout/base.html" %}


{% block content %}

  <div class="base">
      <div class="formss">
        <h1 style="font-family: Grand Hotel;">I was here...</h1>
        <form>
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password">
          </div>
          <span id="result"></span><br><br>
          <button disabled="true" type="submit" class="btn btn-default" id="submit">Submit</button>
        </form>
        <br>
      </div>
  </div>

  <script type="text/javascript">
    $('#email').keyup(function(){
      $.ajax({
        url: '/checkEmail/?email=' + $('#email').val(),
        method: 'GET',
        success:function(response){
          if ($('#email').val() !== response.email) return;
          if (response.available) {
            $('#result').html('');
            $('#submit').prop('disabled', false);
          } else {
            $('#result').html('Email sudah pernah digunakan');
            $('#submit').prop('disabled', true);
          }
        }
      });
    });
    $('#submit').click(function(){
      $.ajax({
        url: '/guest',
        method: 'POST',
        data: {
          name: $('#name').val(),
          email: $('#email').val(),
          password: $('#password').val(),
          csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
        },
        success:function(response){
          $('#result').prop('class','alert alert-success');
          $('#result').html(response.message);
          $('#name').val('');
          $('#email').val('');
          $('#password').val('');
        },
        error: function(xhr, status, error) {
          $('#result').prop('class','alert alert-danger')
          $('#result').html('Gagal menyimpan (' + JSON.parse(xhr.responseText).error[0] + ')');
        }
      });
    });
  </script>
       
{% endblock %}
