{% extends "layout/base.html" %}


{% block content %}

  <div class="base" ><br><br>
    <h2 style="text-align: center; font-family: Grand Hotel;">Schedule List</h3><br>
      <div class="container-fluid">
        {% include "table_schedule.html"%}
        <a href="{% url 'schedule_delete' %}" class="btn btn-danger" role="button">RESET </a>
      </div>
      <br><br>
  </div>


{% endblock %}




