{% extends "layout/base.html" %}


{% block content %}

  <div class="base">
    <div class="formss">
      <h1 style="text-align: center; font-family: Grand Hotel;">Daily Activities</h3>
      <form id="form" method="POST" action="{% url 'add_schedule' %}">
          {% csrf_token %}
          {{ message_form.as_p }}
          <button type="submit" class="btn btn-default">Submit! </button>
      </form>
      <br>
    </div>
  </div>
       
{% endblock %}

