{% load static%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="{% static 'js/styles.js' %}"></script>
</head>

<body style="background: linear-gradient(to bottom right, #ffccff 0%, #ffff99 100%);">
  <div class = "container" >
    <h5><a href="{% url 'index' %}" style="text-align: left; color: black">Home</a></h5>
      <h2 id="checkFav" style="text-align: center;">
        <i class='fa fa-star'style = 'color : blue'></i>  Favorit saya</h2><br>
        <form>
          <input class = "form-control" id = "myInput" type="text" placeholder="Search...">
          <button class = "btn btn-info form-control" id="submit"><i class="fa fa-search"></i>Search</button>
        </form><br>
    <div class="table-responsive"> 
      <table class = "table table-hover" id = "btable" style="background-color: white">
        
      </table>
    </div>
  </div>

<script type="text/javascript">
var counter = 0;

$("#submit").click(function(){
  $("#checkFav").html("<i class='fa fa-star'style = 'color : blue'></i>   Favorit saya");
  counter = 0;
  var x = $('#myInput').val();
  var another = document.getElementsByTagName("thead");
  for(i = 0; i < another.length; i++){
    another[i].style.display = "none";
  }
  var other = document.getElementsByClassName("bukus");
  for(i = 0; i < other.length; i++){
    other[i].style.display = "none";
  }
  $.ajax({
    url: "/buku/?k=" + x,
    success: function(result){
    result = result.items
    var hdr = "<thead><tr><th>Judul</th><th>Penulis</th><th>Cover</th><th>Deskripsi</th><th></th></tr></thead>";
        $("#btable").append(hdr);
        $("#btable").append("<tbody>");
    for(i=0; i<result.length; i++){
        var tmp = "<tr class = 'bukus'><td>" + result[i].volumeInfo.title + "</td><td>" + result[i].volumeInfo.authors + "</td><td>" +"<img src='"+result[i].volumeInfo.imageLinks.thumbnail+ "'>" + "</td><td>" + result[i].volumeInfo.description + "</td><td>" + "<button class='button' style = 'background-color: Transparent; border: none' id='"+result[i].id+"' onclick = 'countStar("+ "\""+result[i].id+"\"" +")'> <i class='fa fa-star'style = 'color : gray'></i></button>"+"</td></tr>";
        $("#btable").append(tmp);
    }
    $("#btable").append("</tbody>");
    }
  });
});

function countStar(id){
    var star = $('#'+id).html();
    if(star.includes("gray")) {
        counter++;
        $('#'+id).html("<i class='fa fa-star' style = 'color : blue'></i>");
        $("#checkFav").html("<i class='fa fa-star'style = 'color : blue'></i> " +counter + " Buku favorit");
    }
    else{
        counter--;
        $('#'+id).html("<i class='fa fa-star' style = 'color : gray'></i>");
        if(counter == 0){
            $("#checkFav").html("<i class='fa fa-star'style = 'color : blue'></i>  Favorit saya");
        }else{
        $("#checkFav").html("<i class='fa fa-star'style = 'color : blue'></i> " +counter + " Buku favorit");
        }
    }   
}
</script>
</body>

</html>