{% block content %}
      <table class="table table-hover" style="background-color: #ffff">
        <thead id = "trow">
          <tr background-color="#ffff">
              <th >Day</th>
              <th >Date</th>
              <th >Time</th>
              <th >Activity</th>
              <th >Place</th>
              <th >Category</th>
          </tr>
        </thead>
        <tbody id = "tcol">
          {% for e in form_result %}
            <tr background-color=#ffff>
              <td>{{e.day}}</td>
              <td>{{e.date}}</td>
              <td>{{e.time}}</td>
              <td>{{e.activity}}</td>
              <td>{{e.place}}</td>
              <td>{{e.category}}</td>
            </tr>
          {%endfor%}
        </tbody>
      </table>

{% endblock %}