
html,body{
	height: 100%;
	width:  100%;
	color: #222;
}
/*navbar item*/
.navbar{
	background-color: #EECD58;
	padding: .8rem;
}

.navbar-nav li{
	float: right;
	padding-right: 20px;
}

.navbar-link{
	font-size: 1.1em !important;
}

.nav-item{
	text-decoration: none;
	color: #000000;
	font-family: Lato;
	font-weight: bold;
	text-align: left;
	position: relative;

}

/*background*/
.base{
	background-color: #FBFCB0;
	background-size: auto;
	background-position: center;
    margin-right: auto;
    margin-left: auto;
}

#half{
  background: linear-gradient(to right, #FBFCB0 0%, #FBFCB0 50%, #FFFFFF 50%, #FFFFFF 100%);
}
#trow{
	background-color: #ffd11a;
}
#tcol{
	background-color: #ffffcc;
}

.footer{
	background-color: #EECD58;
	padding: .3rem;
}

.buttonblue {
	background: linear-gradient(to top, #eff6ff 0%, #87bcde 100%);
	border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 50%;
}
.buttonbase {
	background: linear-gradient(to top, #fbfcb0 0%, #eecd58 100%);
	border: none;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 50%;
}
/*form*/
.formss{
  padding-top: 40px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*accordion*/
.accordion {
    background-color: #FBFCB0;
    color: #222;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}










