{% load static%}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/v4-shims.js"></script>
  <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
  <link href='https://fonts.googleapis.com/css?family=Grand Hotel' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="{% static 'js/styles.js' %}"></script>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light ">
  <!-- Brand/logo -->
    <div class="container-fluid">
      
      <a class="navbar-brand" href="index.html">
        <img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/a7be0c72888c434eb2669b938f024e94?quality=95&fake=.png" alt="logo" style="width:70px;">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% include "partials/navbar.html"%}
      </div>
      
    </div>
  </nav>


  {% block content %}
  <!-- content goes here -->
  {% endblock %}



</body>
<footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock %}
</footer>
</html>